<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseMinorVersion</key>
	<integer>1</integer>
	<key>DatabaseVersion</key>
	<integer>112</integer>
	<key>LastOpenMode</key>
	<integer>2</integer>
	<key>LibrarySchemaVersion</key>
	<integer>474</integer>
	<key>createDate</key>
	<date>2015-03-20T08:40:20Z</date>
	<key>databaseUuid</key>
	<string>M0JCdlhdRf+PTZ5gx%nrCg</string>
</dict>
</plist>
