<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MajorVersion</key>
	<integer>1</integer>
	<key>MinorVersion</key>
	<integer>32</integer>
	<key>createDate</key>
	<date>2015-05-10T10:52:43Z</date>
</dict>
</plist>
