<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<array>
		<dict>
			<key>modelId</key>
			<integer>3</integer>
			<key>name</key>
			<string>家庭</string>
			<key>uuid</key>
			<string>QJ8ra2uBSaqcAnMnvourpQ</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>6</integer>
			<key>name</key>
			<string>生日</string>
			<key>uuid</key>
			<string>UjBywogpSQOAbEUpUQzy8g</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>2</integer>
			<key>name</key>
			<string>个人收藏</string>
			<key>uuid</key>
			<string>y0lgtDnhQamgXR3l%we4DQ</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>5</integer>
			<key>name</key>
			<string>度假</string>
			<key>uuid</key>
			<string>2Hd%Q6BZTRG47uKlZpgIfg</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>1</integer>
			<key>name</key>
			<string>✔</string>
			<key>uuid</key>
			<string>RDWDKmzMQ4yAZTWAxcHgoQ</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>4</integer>
			<key>name</key>
			<string>孩子</string>
			<key>uuid</key>
			<string>SVJ5LL99SAe1TNj2kKIvfw</string>
		</dict>
	</array>
	<key>keywords_version</key>
	<integer>7</integer>
</dict>
</plist>
