<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseMinorVersion</key>
	<integer>1</integer>
	<key>DatabaseVersion</key>
	<integer>112</integer>
	<key>LibrarySchemaVersion</key>
	<integer>474</integer>
	<key>SnapshotComplete</key>
	<true/>
	<key>SnapshotTables</key>
	<dict>
		<key>RKAdminData</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>04bfcda182e5c0f5eb53dfbb3e507e8eb5877331</string>
		</dict>
		<key>RKAlbum</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>1521975a8b219c1d0f3f6de20f6db61128debf67</string>
		</dict>
		<key>RKCustomSortOrder</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>5ccf3d160b28bbc7c2009f772e70e387037e918a</string>
		</dict>
		<key>RKFolder</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>c207b0a730764b05f923505d536d6b92c74f4164</string>
		</dict>
		<key>RKKeyword</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>c870402615efc59998268b27a7aae090fdeb0cc5</string>
		</dict>
	</dict>
</dict>
</plist>
